.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  padding: 2px 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}


.button:hover {
  background-color: rgba(6, 127, 135, 0.1);
}
